<?xml version="1.0"?>
<launch>
    <node name="cubic_spline_path" type="cubic_spline_path.py" pkg="pure_pursuit" output="screen">
		<param name="filename" value="$(find pure_pursuit)/param/waypoint.yaml"/>
	</node>
    <node name="pure_pursuit_node" pkg="pure_pursuit" type="pure_pursuit_node" output="screen">
        <param name="input_path" value="spline_path"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cubic_spline_path)/rviz/rviz.rviz"/>
</launch>
